.text-gray-600 {
    color: #4b5563;
}

.flex:hover .text-gray-600 {
    color: #ffffff;
}
.hero1 {
    background-color: rgba(255, 255, 255, 0.706);
  }
  .hero1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(5px);
    z-index: 1;
  }
  .card-container {
    transition: background-color; /* Add a smooth transition effect */
  }
  
  .card-container:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Light blackish color on hover */
    cursor: pointer;
  }
