
.hero {
    position: relative;
    background-image: url("./banner2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    z-index: 0; /* Set a lower z-index for the .hero container */
  }
  
  /* Create a pseudo-element for the background color */
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Darker background color */
    z-index: 1; /* Place it above the .hero container */
  }
  
  /* You can add more styles for specific elements within the .hero container if needed */
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    z-index: 1;
    font-family: ' Gill sans , Georgia';
  }
  
  .hero p {
    font-size: 1.3em;
    margin-bottom: 20px;
    z-index: 1;
    font-family: ' Gill sans , Georgia';
  }
  
  .hero-button {
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: ' Gill sans , Georgia';
    transition: background-color 0.3s, color 0.3s;
    background: none;
    z-index: 2;
  }
  
  /* Hover styles for the button */
  .hero-button:hover {
    background-color: #007bff; /* Change background color on hover */
    color: white; /* Change text color to white on hover */
  }