.scrolled-bg {
    background-color: #0D6EFD; /* Change to the desired background color */
    transition: background-color 0.3s ease; /* Add a smooth transition */
    color: #000;
    z-index: 2
}

.scrolled-text {
    transition: background-color 0.3s ease; /* Add a smooth transition */
    color: #000;
    z-index: 2
}
li a{
    font-family: ' Gill sans , Georgia';
    color: #ffffff;
}