
.react-multiple-carousel__arrow--left {
    background: rgba(0,0,0,0.8) !important;
    z-index: inherit;
}
  
.react-multiple-carousel__arrow--right {
    background: rgba(0,0,0,0.8) !important;
    z-index: inherit;

}

.background-wrapper {
  position: relative;
  transition: background-image 0.3s ease; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

.hero2 {
  position: relative;
  background-image: url("./banner2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 0;
}

.hero2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}